.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: #0d0d0d;
}

.productCardWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detailsButton{
    background-color: transparent;
    border: 1px solid #00ff99;
    color: #00ff99;
    padding: .8rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
}

.detailsButton:hover{
    background-color: #00ff99;
    color: #111;
}

.emptyMessage{
    color: white;
    text-align: center;
    margin-top: 3rem;
}