.coworkersGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    background-color: #0d0d0d;
}
.emptyMessage{
    color: white;
    text-align: center;
}